.page-select-button {
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  padding: 1vw 3vw;
  border-radius: 0.8vw;

  font-size: clamp(14px, 1vw, 18px);

  min-width: 120px;
  max-width: 320px;
}
.page-select-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}