.card-link {
  width: 100%;
  max-width: 800px;
  height: auto;

  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  padding: 0;
  text-align: left;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: stretch;

  text-decoration: none;
  color: inherit;
  cursor: pointer;

  background-color: white;

  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.card-link:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card-image-container {
  flex: 0 0 40%;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-content {
  flex: 1;
  padding: 2vw;
}
.card-content h2 {
    margin-top: 0;
}