.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 10vh;
  padding: 2vh 2vw;
  box-sizing: border-box;
  background-color: #f0f4f8;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3vh;

  width: 100vw;
  max-width: 1500px;
  margin: 2vh 2vw;
  padding: 0 2vw;
  align-items: center;
  box-sizing: border-box;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 0vw;
  width: 60vw;
  max-width: 1500px;
  margin: 5vh auto;
  padding: 0 2vw;
  box-sizing: border-box;
}
.title h1 {
  font-size: clamp(1.2rem, 3vw, 2.5rem);
  margin: 0.5em 0;
}
.title p {
  font-size: clamp(1.2rem, 1.4vw, 2.2rem);
  margin: 0;
  line-height: 1.6;
}