.overall-layout {
    display: flex;
    padding: 20px;
    background-color: #f0f4f8;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    font-family: 'Inter', sans-serif;
    flex-direction: column;
    gap: 16px;
}

.page-button-layout {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-self: flex-start;
}

.graph-main-layout {
  display: flex;
  gap: 0px;
  width: 100%;
  max-width: 1500px;
  margin: 0px auto 0px auto;
  flex-direction: column;
  align-items: center;
}

/* ----------------------------------------------------
 * A. グラフエリア: 凡例/公式 と キャンバスを横並びにする
 * ---------------------------------------------------- */
.graph-area-wrap {
  display: flex;
  gap: 20px;
  flex-grow: 0;
  max-width: 1500px;
  flex-shrink: 1;
}

.legend-formula-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  flex-shrink: 1;
}

.graph-canvas {
  padding: 20px;
  max-width: 600px;
  margin: 0px auto 50px auto;
  background-color: white;
  border-radius: 0.8vw;
  align-items: center;
}

/* ----------------------------------------------------
 * B. コントロールエリア: 現在の状態 と 保存した状態 を横並びにする
 * ---------------------------------------------------- */
.graph-controls {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    font-size: 24px;
}
.graph-controls > * {
    flex: 1;
    padding: 15px;
    border-radius: 12px;
    min-height: 250px;
}