.overall-layout {
    display: flex;
    padding: 20px;
    background-color: #f0f4f8;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    font-family: 'Inter', sans-serif;
    flex-direction: column;
    gap: 16px;
}

.page-button-layout {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-self: flex-start;
}

/* -------------------------------------------------- */
/* 上段エリア: 実験映像、グラフ */
/* -------------------------------------------------- */

.experiment-layout {
    display: flex;
    gap: 0px;
    width: 100%;
    max-width: 1500px;
    margin: 0px auto 0px auto;
    justify-content: center;
}

.experimental-footage {
    display: flex;
    gap: 0px;
    width: 100%;
    max-width: 400px;
    margin: 0px auto 0px auto;
    justify-content: center;
    align-items: center;
}
.picture-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto -40px auto;
    min-height: 50vh;
}

.center-item-layout {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    max-width: 400px;
    margin:250px auto 0px auto;
    align-items: center;
    font-size: clamp(16px, 2.5vw, 24px);
}

.graph-canvas {
    padding: 20px;
    max-width: 600px;
    margin: 0px auto 50px auto;
    background-color: white;
    border-radius: 0.8vw;
    align-items: center;
}

/* -------------------------------------------------- */
/* 下段エリア: 実験内容、条件設定 */
/* -------------------------------------------------- */

.graph-controls {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    font-size: 24px;
}
.graph-controls > * {
    flex: 1;
    padding: 15px;
    border-radius: 12px;
    min-height: 250px;
}

/* -------------------------------------------------- */
/* レスポンシブ対応 */
/* -------------------------------------------------- */

@media (max-width: 1024px) {
    /* 画面幅が狭い場合、上段・下段の要素を縦並びにする */
    .experiment-main-layout,
    .graph-controls {
        flex-direction: column;
        margin: 20px auto;
    }

    /* 各コンポーネントは幅いっぱいを使用 */
    .experiment-main-layout > *,
    .graph-controls > * {
        flex: 1 1 100%;
    }
}