.picture-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto -40px auto;
    min-height: 50vh;
}